*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  background:linear-gradient(#654ea3,#eaafc8);
}
  
.weather-card .card{
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}
  
.card-header{
    font-size: 1.4rem;
    font-weight: 500;
    color: rgba(0, 123, 255, 0.993) !important;
}
.weather-data{
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.weather-data .card-header a{
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 900;
  color: rgba(0, 123, 255, 0.993);
}

.temp{
  font-size: 2.6rem;
  font-weight: 500;
}

.weather{
  font-size: 1.3rem;
  font-weight: 400;
}

.location{
  font-size: 1.3rem;
  font-weight: 400;
}

.card-footer{
  display: flex;
}

.feel-like i{
  font-size: 2.2rem;
  color:rgba(0, 123, 255, 0.993) ;
}

.feel-like{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  font-weight: 500;
  color: black;
}

.humidity{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  font-weight: 500;
  color: black;
}

.humidity i{
  font-size: 2.2rem;
  color:rgba(0, 123, 255, 0.993) ;
}

.card-body img{
  width: 6vw;
}

.active{
  display: none;
}